*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul,nav{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
    color:inherit;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#000;
    padding: 35px 100px 0;
}
header h2{
    text-transform: uppercase;
}
header nav{
    display: flex;
}
header nav li{
    margin: 0 15px;
}
header nav li:first-child{
    margin-left: 0;
}
header nav li:last-child{
    margin-right: 0;
}
@media(max-width:1000px){
    header{
        padding: 20px 50px;
    }
}
@media(max-width:700px){
    header{
        flex-direction: column;
    }
    header h2{
        margin-bottom: 15px;
    }
    header nav li{
        margin:0 7px;
    }
}
/* banner */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
}
@media(max-width: 1000px){
    section{
        padding: 100px 50px;
    }
}
@media(max-width: 600px){
    section{
        padding: 125px 30px;
    }
}
section p{
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}
.banner-area{
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}
.banner-area .banner-img{
    background-image: url(./../1.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
}